
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=0abf19349cb11ea721e4da5c02d3d771
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress