
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=c0ec3f7deafdb86277b5f8456aa8ffc9
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress